@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import "tailwindcss";

:root,
html,
body,
body > div {
  @apply w-full h-full m-0 p-0 text-white;
}
html {
  font-family: "Pixelify Sans", "Times New Roman", Times, serif;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}
#bg,
#how-works,
#requirements {
  scroll-snap-align: start;
  /* height: 100vh; */
}
#title {
  @apply flex items-center justify-center gap-1 p-0;
}
#title > span {
  @apply m-0 p-0;
}
button {
  @apply cursor-pointer flex flex-row gap-2  w-fit px-4 py-2 rounded-full  border-2 hover:text-white duration-300;
}

#bg {
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  @apply cursor-pointer text-blue-200 underline;
}
html {
  scroll-behavior: smooth;
}
